<!--<form [formGroup]="form">-->
<!--  <mat-list role="list" formArrayName="counters">-->
<!--    <mat-list-item *ngFor="let product of (basket$ | async); index as index" role="listitem">-->
<!--      <div *ngIf="product && product.image">-->
<!--        <img class="fix-size" [src]="'assets/data/images/product/' + product.image[0]">-->
<!--      </div>-->

<!--      <p>{{product.name}}</p>-->
<!--      &lt;!&ndash; <input type="number" matInput [formControlName]="index"/> &ndash;&gt;-->
<!--      <app-quantity-input-->
<!--        [formControlName]="index"-->
<!--      ></app-quantity-input>-->
<!--      {{form.get(['counters', index])?.errors | json}}-->
<!--    </mat-list-item>-->
<!--  </mat-list>-->
<!--</form>-->

<form [formGroup]="form">
  <p-listbox formArrayName="counters">
    <div *ngFor="let product of basket$ | async; index as index">
      <div *ngIf="product && product.image">
        <img [src]="'assets/data/images/product/' + product.image[0]" />
        <div>{{ product.name }}</div>
        <app-quantity-input [formControlName]="index"> </app-quantity-input>
      </div>
    </div>
  </p-listbox>
</form>

<div class="address-button">
  <p-button label="Оформить" routerLink="address"></p-button>
</div>
