<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button icon="pi pi-bars" (click)="onHamburgerClicked()"></p-button>
  </div>
  <div class="p-toolbar-group-right">
    <div class="total-sum">
      <ng-container  *ngIf="user ; else spinner">
        <div class="user-info">
          {{user.name}}
        </div>
        <div
          *appCarousel="let currency of currencies; next as next; back as back"
        >
          <i class="pi pi-angle-left" (click)="back()"></i>
          {{ user.shopSum.value | currency: currency }}
          <i class="pi pi-angle-right" (click)="next()"></i>
        </div>
      </ng-container>
    </div>
    <p-button icon="pi pi-shopping-cart" (click)="onCartClicked()"></p-button>
  </div>
</p-toolbar>

<ng-template #spinner>
  <div class="progress-spinner">
    <p-progressSpinner [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
  </div>
</ng-template>
