<div class="product-list-box">
  <div (click)="redirectToProductInfo()" class="inner-col description-col go-to-product">
    <div class="product-img pointer">
      <img
        [src]="product?.image"
        loading="auto"
        class="img"
        width="80"
        [alt]="product?.name"
      />
    </div>

    <div class="product-desc">
      <h4 class="product-name col-title mb-2 pointer">
        {{ product?.name }}
      </h4>
      <p class="rate-amount d-none d-md-block mt-1">
        {{ product?.feedbacksCount }} отзыва
      </p>

      <p class="price-text mb-0 mt-2 d-inline-block d-md-none">
        <strong>{{ product?.price }}€ </strong>
      </p>
    </div>
  </div>

  <div class="default-col inner-col price-col actions">
    <h4 class="col-title price-text mb-2">{{ product?.price }}€</h4>
      <button mat-button color="primary" (click)="addToBasket()">
        Добавить в корзину
      </button>
  </div>
</div>


