<div class="col" *ngIf="product">
  <div class="grid">
    <div class="col">
      <div *appCarousel="let image of product.image; next as next; back as back">
        <i class="pi pi-angle-left" (click)="back()"></i>
        <img [src]="'assets/data/images/product/' + image" [alt]="product.name"/>
        <i class="pi pi-angle-right" (click)="next()"></i>
      </div>
    </div>
    <div class="col" *ngIf="product.image">
      <p-carousel [value]="product.image">
        <ng-template let-image pTemplate="item">
          <img [src]="'assets/data/images/product/' + image" [alt]="product.name"/>
        </ng-template>
      </p-carousel>
    </div>
    <div class="col-6">
      <h1>{{product.name}}</h1>
      <h2><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></h2>
      <h3 *ngIf="product.feedbacksCount">Отзывов: {{product.feedbacksCount}}</h3>
      <div class="grid">
        <div class="col">Характеристики</div>
        <div class="col">
          <i class="sum-price" *ngIf="product.price">{{product.price | currency: 'EUR'}}</i>
          <br>
          <p-button icon="pi pi-shopping-cart" label="В корзину" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
        </div>
      </div>
      <p-tabView>
        <p-tabPanel header="Описание" rightIcon="pi pi-book">
          Content 1
        </p-tabPanel>
        <p-tabPanel header="Отзывы" rightIcon="pi pi-comment">
          Content 2
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>


<!-- div class="card">
  <div class="card-container blue-container flex align-items-center justify-content-start">
    <div class="hidden w-4rem h-4rem bg-blue-500 text-white font-bold p-4 border-round mr-3">1</div>
    <div class="w-4rem h-4rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round mr-3">2</div>
    <div class="w-4rem h-4rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">3</div>
  </div>
</div -->
